<h2 class="page-header">New Book</h2>
<form action="/book" method="POST">
    <%- include('_form_fileds')%>
        <a class="btn btn-secondary" href="/book">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
</form>